// Add your custom CSS here.
// Fonte loja
p {
  font-family: $font-family-sans-serif;
}
// icon size
.menu__item-icon > img {
  max-width: 240% !important;
  max-height: 200% !important;
}
.menu__item-icon {
  margin-right: 3.1rem !important;
}

//busca no mobile
@media(max-width: 480px) {
  #search-bar {
    display: block !important;
  }
}

// color of menu button
.menu__btn--close i, .menu__btn.btn.collapsed i, .header__search-btn i {
  color: #b20000;
}
//footer
.footer__credits {
  text-align: center;
}
// header
.top-bar, .header {
  background-color: #fff;
}
#search-form {
  border: 1px solid #000;
  border-radius: .3rem;
}
// main
.products-carousel__title a::after {
  content: ' + Ver mais';
  font-size: 0.80rem;
  font-weight: bold;
  padding:  0.5rem;
  color: #9d0b0b !important;
}
.products-carousel__title {
  text-transform: uppercase;
  color: #9D0B0B;
  font-weight: 700;
}
.prices.product-card__prices {
  display: flex !important;
  flex-direction: column;
}
.prices .prices__value {
   order: 3;
   font-size: var(--font-size)
}
.product-card__prices .prices__value:first-child {
    margin-top: unset;
}
.prices .prices__installments {
  order: 1;
}
.prices .prices__installments span {
  font-size: var(--font-size-lg);
  color: #b20000;
}
.prices .prices__installments span::before {
  font-size: var(--font-size);
  color: #000;
}
.prices .prices__compare {
  order: 2
}
.prices .prices__discount {
  order: 3
}
.shipping-calculator__services:after {
    content: "Ganhe o FRETE GRÁTIS em compras a partir de R$250 \A *PARA REGIÃO SUDESTE";
    white-space: pre;
    font-weight: 500;
    font-size: 12px;
    color: #8B0000;
}
@media  screen and (min-width: 1368px) {

}

//desktop normal size
@media  screen and (min-width: 998px) and (max-width: 1367px) {
  .banner-slider {
    max-width: 100%;
  }
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 997px) {

}
// apenas mobile
@media screen and (max-width: 480px) {

}
.minicart__btn-checkout.btn, .cart__info .cart__btn-checkout {
  font-size: 0px;
}
.minicart__btn-checkout.btn::after, .minicart__btn-checkout.btn i, .cart__info .cart__btn-checkout::after, .cart__info .cart__btn-checkout i {
  font-size: 1rem !important;
  content: 'Finalizar compra';
  margin-left: .2rem;
}
//Fonte Sem Juros
.payment-option__installment {
li {
small:nth-child(2) {
color: red !important;
font-weight: bold
}
}
}


//Ordem das sub-categorias
#a-acessorios_ .menu__list {
    display: flex;
    flex-direction: column;
}
#c-5ec83fb7126b0d057214b282 {
    order: 1 !important;
}
#c-5ec83fe5126b0d057214b2b7 {
    order: 2 !important;
}
#c-5ec83fc7126b0d057214b295 {
    order: 3 !important;
}
#c-5ecaaa5a126b0d0572152ae2 {
    order: 4 !important;
}
#c-5ec84015126b0d057214b2f5 {
    order: 5 !important;
}
#c-5ec84008126b0d057214b2e2 {
    order: 6 !important;
}
#c-5ec83ff3126b0d057214b2c8 {
    order: 7 !important;
}
#c-5ec83fd8126b0d057214b2a7 {
    order: 8 !important;
}

#a-cosmeticos_ .menu__list {
    display: flex;
    flex-direction: column;
}
#c-5ec8408f126b0d057214b31c {
    order: 1 !important;
}
#c-5ec840a6126b0d057214b322 {
    order: 2 !important;
}
#c-5ec8409a126b0d057214b31f {
    order: 3 !important;
}
#c-5ec84034126b0d057214b303 {
    order: 4 !important;
}
#c-5ec8405c126b0d057214b30e {
    order: 5 !important;
}
#c-5ec84041126b0d057214b307 {
    order: 6 !important;
}
#c-5ec8404d126b0d057214b30a {
    order: 7 !important;
}
#c-5ec84069126b0d057214b311 {
    order: 8 !important;
}
#c-5ec84076126b0d057214b315 {
    order: 9 !important;
}
#c-5f511cb57430f92180eba9db {
    order: 10 !important;
    border-bottom: 1px solid;
}
#c-5ec84082126b0d057214b318 {
    order: 11 !important;
}

#a-sado-e-fetiche_ .menu__list {
    display: flex;
    flex-direction: column;
}
#c-5ec840c9126b0d057214b328 {
    order: 1 !important;
}
#c-5ec840d8126b0d057214b32c {
    order: 2 !important;
}
#c-5f78c1d87430f92180fa158b {
    order: 3 !important;
}
#c-5f7ded04b2161709fa3c3d80 {
    order: 4 !important;
}
#c-5ec840e4126b0d057214b330 {
    order: 5 !important;
}
#c-5ec840f3126b0d057214b334 {
    order: 6 !important;
}
#c-5eca8a55126b0d0572152774 {
    order: 7 !important;
}
#c-5ec840ff126b0d057214b337 {
    order: 8 !important;
}
#c-5ec8410a126b0d057214b33a {
    order: 9 !important;
}

#a-lingerie_ .menu__list {
    display: flex;
    flex-direction: column;
}
#c-5ec8413f126b0d057214b344 {
    order: 1 !important;
}
#c-5ec8414f126b0d057214b348 {
    order: 2 !important;
}
#c-5f822b7fb2161709fa3dada4 {
    order: 3 !important;
}
#c-5ec8415e126b0d057214b34c {
    order: 4 !important;
}
#c-5ec841a4126b0d057214b35c {
    order: 5 !important;
}
#c-5ec8416e126b0d057214b34f {
    order: 6 !important;
}
#c-5ec8417e126b0d057214b353 {
    order: 7 !important;
}
#c-5ec841b4126b0d057214b35f {
    order: 8 !important;
}
#c-5ec8418d126b0d057214b358 {
    order: 9 !important;
}

#a-vibrador_ .menu__list {
    display: flex;
    flex-direction: column;
}
#c-5ec8425d126b0d057214b384 {
    order: 1 !important;
}
#c-5ec841ed126b0d057214b36e {
    order: 2 !important;
}
#c-5ec8424c126b0d057214b37f {
    order: 3 !important;
}
#c-5ec841e0126b0d057214b36a {
    order: 4 !important;
}
#c-5ec841fc126b0d057214b371 {
    order: 5 !important;
}
#c-5f2d734ff023684cdbd82b2b {
    order: 6 !important;
}

#a-pompoarismo_ .menu__list {
    display: flex;
    flex-direction: column;
}
#c-5ec84292126b0d057214b38d {
    order: 1 !important;
}
#c-5ec842ce126b0d057214b399 {
    order: 2 !important;
}
#c-5ec842bc126b0d057214b394 {
    order: 3 !important;
}
#c-5ec842ef126b0d057214b3a2 {
    order: 4 !important;
}
#c-5ec842df126b0d057214b39c {
    order: 5 !important;
}

#a-penis_ .menu__list {
    display: flex;
    flex-direction: column;
}
#c-5ec8434a126b0d057214b3b7 {
    order: 1 !important;
}
#c-5eca7d19126b0d057215258f {
    order: 2 !important;
}
#c-5eca8367126b0d0572152668 {
    order: 3 !important;
}
#c-5ec84328126b0d057214b3b0 {
    order: 4 !important;
}
#c-5ec84336126b0d057214b3b3 {
    order: 5 !important;
}
#c-5ec8430a126b0d057214b3a5 {
    order: 6 !important;
}
#c-5ec84319126b0d057214b3ab {
    order: 7 !important;
}

#a-prazer-anal_ .menu__list {
    display: flex;
    flex-direction: column;
}
#c-5ec8435b126b0d057214b3bd {
    order: 1 !important;
}
#c-5ec8436e126b0d057214b3c1 {
    order: 2 !important;
}
#c-5ec84381126b0d057214b3c5 {
    order: 3 !important;
}
#c-5ec843b0126b0d057214b3d1 {
    order: 4 !important;
}
#c-5ec8438f126b0d057214b3c9 {
    order: 5 !important;
}
#c-5ec8439c126b0d057214b3cc {
    order: 6 !important;
}
#c-606f160933554a7d2d3f09cc {
    order: 7 !important;
}
.menu__item {
border-bottom: 1px solid !important;
}

// Adicionar em Layout > Inserir Código > CSS Customizado

.minicart__empty .lead {
    font-size: 0;
}

.minicart__empty .lead:after {
    content: 'Sacola vazia ...';
    display: block;
    font-size: calc(1.25788rem + .0945vw);
    margin-bottom: 16px;
}

.minicart__aside .card-header{
    font-size: 0;
}

.minicart__aside .card-header:after {
    content: "Minha sacola de compras";
    font-size: 16px;
}

#spa .container h1 {
    font-size: 0;
}

#spa .container h1::before {
    display: block;
    content: 'Minha sacola';
    font-size: 2rem;
    color: var(--secondary);
    font-weight: 500;
}

.minicart__btn-cart {
    font-size: 0;
}

.minicart__btn-cart::after {
    content: 'Ver sacola';
    font-size: 1rem;
}
.cart__empty .lead.text-muted {
    font-size: 0;
}
.cart__empty .lead.text-muted::after {
    content: 'Sacola vazia ...';
    font-size: 16px;
}

.checkout__back .btn.btn-sm.btn-light {
    font-size: 0;
}

.checkout__back .btn.btn-sm.btn-light::after {
    content: 'Voltar à sacola';
    font-size: .875rem;
}

.product-card__buy.fade .btn.btn-primary.btn-block {
    font-size: 0;
}
.product-card__buy.fade .btn.btn-primary.btn-block::after {
    content: 'Adicionar à sacola';
    font-size: 1rem;
}
