// Add your custom CSS here.

// Fonte storefront
body {
font-family: 'Ubuntu', sans-serif !important;
}

// icon size
.menu__item-icon > img {
  max-width: 240% !important;
  max-height: 200% !important;
}
.menu__item-icon {
  margin-right: 3.1rem !important;
}
// color of menu button
.menu__btn--close svg, .menu__btn.btn.collapsed svg, .header__search-btn svg {
  color: #b20000;
}
//footer
.footer__credits {
  text-align: center;
}
// header
.top-bar, .header {
  background-color: #fff;
}
#search-form {
  border: 1px solid #000;
  border-radius: .3rem;
}
// main
.products-carousel__title a::after {
  content: ' + Ver mais';
  font-size: 0.80rem;
  font-weight: bold;
  padding:  0.5rem;
  color: #9d0b0b !important;
}
.products-carousel__title {
  text-transform: uppercase;
  color: #9D0B0B;
  font-weight: 700;
}
.prices.product-card__prices {
  display: flex !important;
  flex-direction: column;
}
.prices .prices__value {
   order: 3;
   font-size: var(--font-size)
}
.product-card__prices .prices__value:first-child {
    margin-top: unset;
}
.prices .prices__installments {
  order: 1;
}
.prices .prices__installments span {
  font-size: var(--font-size-lg);
  color: #b20000;
}
.prices .prices__installments span::before {
  font-size: var(--font-size);
  content: ' de ';
  color: #000;
}
.prices .prices__compare {
  order: 2
}
.prices .prices__discount {
  order: 3
}
.shipping-calculator__services::before {
  content: 'Frete grátis acima de R$ 250,00 para região sudeste';
  font-weight: bold;
  font-size: 13px;
  color: #333;
}
@media  screen and (min-width: 1368px) {

}

//desktop normal size
@media  screen and (min-width: 998px) and (max-width: 1367px) {
  .banner-slider {
    max-width: 100%;
  }
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 997px) {

}
// apenas mobile
@media screen and (max-width: 480px) {

}
.minicart__btn-checkout.btn, .cart__info .cart__btn-checkout {
  font-size: 0px;
}
.minicart__btn-checkout.btn::after, .minicart__btn-checkout.btn svg, .cart__info .cart__btn-checkout::after, .cart__info .cart__btn-checkout svg {
  font-size: 1rem !important;
  content: 'Finalizar compra';
  margin-left: .2rem;
}
